extends layout

block content
  
  h1= title
    br
    p Feel free to add something interesting 
  
  br
  table
  .article
    .article-left
      form(action='/add', method='POST')
        br
        br
        p.textBoxHeaders Title
        .textBoxHeaders
          input(type='text', name='blog_txt', value="") 
        p.textBoxHeaders Blog 
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        .textBoxHeaders 
          button.btn(type='submit')
            p Add New Blog
    
        
        
    .article-middle
      form(action='/edit', method='POST')
        p.textBoxHeaders Blog Number
        .textBoxHeaders
          input(type='text', name='blog_id', value="")
        p.textBoxHeaders New Title
        .textBoxHeaders
          input(type='text', name='blog_txt', value="")
        p.textBoxHeaders Blog
        textarea(type='text', name='blog_body', maxlength="300", tabindex="100", rows="10", cols="30",value="")
        br
        .textBoxHeaders
          button.btn(type='submit')
            p Edit/Update a Blog
   
    .article-right
      form(action='/delete', method='POST')
        .textBoxHeaders
          p.textBoxHeaders Blog Number 
          input(type='text', name='blog_id', value="")
        br
        br
        .textBoxHeaders 
          button.btn(type='submit')
            p Delete a Blog
  .test 
    ul
    
    each value in data
      .tester
        - let helper = value.blog_txt
        - let helper2 = value.blog_body
        - let helper3 = value.blog_date
        - let helper4 = value.blog_id
        br
        p.title1 Blog Number: !{helper4}
        p.title Title: !{helper}
        p.title1 Date: !{helper3} 
        p !{helper2}
        br      
  
    

